doctype html
html
    head
    body
        h1 Welcome to learn pug!
        p.
            This is a paragraph tag
            and this is a new line.
        ul
            li This is first
            li This is second
            li This is third